
.registragion_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.registration_form {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 50px;
    flex-direction: column;
    background-color: azure;
}

.input_fields {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
}

label {
    font-size: 12px;
    color: red;
}